.green-header {
  width: 100%;
  height: 40px;
  background-color: #d2fcd0;
  margin: 0 auto;
}

#favories-button {
  height: 25px;
  background-color: #ffebaa;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  margin-right: 10px;
}

#header-h2 {
  font-size: medium;
}

#pokedex-legendary {
  width: 300px;
}

.region-button {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  font-size: 8px;
  padding-top: 15px;
  text-decoration: none;
  color: black;
}

form {
  padding-top: 10px;
  padding-right: 15px;
}

.pokemon-image-row {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-main {
  width: 100%;
  margin: 0 auto;
  background-color: #c093a9;
  height: 100%;
}

.pokemon-card {
  width: 100%;
  background-color: aliceblue;
}

.pokemon-image {
  padding: 10px;
  width: 100%;
}

.pokemon-description {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(196, 209, 204);
}
