.green-header {
  width: 100%;
  height: 40px;
  background-color: #722d4f;
  margin: 0 auto;
}

.white-header {
  background-color: rgb(222, 221, 221);
}

#favories-button {
  height: 25px;
  background-color: #a9a9a9;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  margin-right: 10px;
}

#header-h2 {
  font-size: small;
  color: white;
  padding: 0;
  background-color: darkblue;
}

#pokedex-legendary {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 300px;
}

.region-button {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  font-size: 8px;
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

form {
  padding-top: 10px;
  padding-right: 15px;
}

.pokemon-image-row {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-main {
  width: 100%;
  margin: 0 auto;
  background-color: #c093a9;
  height: 100%;
}

.pokemon-card {
  width: 100%;
  background-color: aliceblue;
}

.pokemon-image {
  padding: 10px;
  width: 100%;
}

.pokemon-description {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(196, 209, 204);
}

.hidden {
  display: none !important;
}

.background {
  background-color: rgb(250, 236, 244);
  height: 800px;
  background-image: url('https://i.pinimg.com/736x/23/cb/32/23cb3264f29d97ff830679c50660c651.jpg');
  background-size: 1280px;
}

.box-feature {
  width: 100%;
  height: 100%;
}

.pokemon-image-feature {
  width: 60%;
}

.heart {
  background-color: transparent;
  padding: 20px;
  border: none;
}

.pokemon-name {
  font-size: 35px;
  font-weight: bold;
  color: #000;
}

.tabbed-views {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.tab-container {
  display: flex;
  position: relative;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.45rem 1rem 0.5rem;
  border: solid;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.45rem;
  cursor: pointer;
  font-size: 13px;
  color: rgb(2, 2, 2);
  background-color: #9f5877;
}

.tab.active {
  border-top: none;
  border-bottom-width: 0.25rem;
  background-color: #ffe4f0;
}

.special-moves-header {
  font-weight: bold;
}

[data-view='info'].tab.active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}

[data-view='weakness'].tab.active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}

[data-view='special-moves'].tab.active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}

[data-view='stats'].tab.active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}

.view-container {
  border: solid;
  border-bottom: none;
  border-top-right-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #ffe4f0;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.4);
}

.tab,
.view-container {
  border-width: 0.1px;
  border-color: black;
}

.view {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
}

.container-favorites {
  background-color: rgb(236, 236, 236);
  height: 1000px;
  width: 100%;
}

.pokemon-image-favorites {
  width: 100%;
  background-color: white;
}

.pokemon-name-favs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
  width: 100%;
  height: 40px;
  margin: 0%;
}

.styling {
  display: flex;
  justify-content: center;
}

.delete-button {
  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 10px;
  text-decoration: underline;
}
