.green-header {
  width: 100%;
  height: 40px;
  background-color: #d2fcd0;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#favories-button {
  height: 25px;
  background-color: #ffebaa;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  margin-right: 10px;
}

.column {
  display: flex;
  justify-content: center;
  width: 100%;
}

#header-h2 {
  font-size: medium;
}

#pokedex-legendary {
  width: 300px;
}

.region-button {
  background: none;
  border: none;
}
